BasedOnStyle: Google
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakTemplateDeclarations: false
AlignEscapedNewlinesLeft: false
AlignTrailingComments: true
BreakBeforeBraces: Linux
ColumnLimit: 80
Cpp11BracedListStyle: false
DerivePointerAlignment: false
IncludeBlocks: Preserve
IncludeIsMainRegex: '-' 
IndentCaseLabels: false
IndentWidth: 2
PointerAlignment: Right
ReflowComments: false
SortIncludes: true
SpacesInCStyleCastParentheses: true
SpacesInParentheses: true
